html,
body {
  height: 100%;

}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
 
  font-size: $baseFontSize;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
 color: #666666;

  
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: $containerWidht + 20px;
  min-height: 100%;
 
}

.section{
  height: 100%;
}
 
.container{
	width: $containerWidht;
	margin-left: auto;
	margin-right: auto;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  li{
    list-style: none;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p{
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}
