.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__list{
	display: flex;
	align-items: center;
}

.menu__item{
	margin-right: 22px;

	&:last-child{
		margin-right: 0;
	}
}

.phone-namber{
	font-size: 22px;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.phone-namber__icon-elem{
	width: 12.83px;
	height: 13.78px;
	margin-right: 5.6px;
}
.menu__link{
	text-decoration: none;
}