.button {
	display: inline-block;
    background: #f5170e;
	border-radius: 35px;
	padding: 18px 40px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #f5170e;
  }
  
  .button:hover {
	color: #f5170e;
	background: #ffffff;
  }