.footer{
	display: flex;
	max-width: 1141px;
	margin: 0 auto;
}
.footer__content{
	width: 1141px;
	height: 92.64px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 57.36px;
}

.container__footer{
   width: 1141px;
	border: 0.1px solid #ffffff;
	height: 92.64px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	margin-top: auto;
	margin-bottom: 57.36px;
	
	

}

