.pagination {
	text-align: center;
	margin-bottom: 152.5px;
	cursor: pointer;
}
  
  .pagination__list {
	display: inline-block;
}
  
  .pagination__info {
	margin-right: 26px;
	display: inline-block;
  }

  .pagination__item {
	display: inline-block;
	margin-right: 9px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
  }

  .pagination__item:last-child {
	margin-right: 0;
  }

  .pagination__item:hover {
	background: #ffffff;
	color: #f5170e;
  }
  
  .pagination__link {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
  }