.route {
	min-width:1141px;
	height: 330px;
	margin-bottom: 221px;
    line-height: 1.9;
  }

.route__container{
	width: 1141px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	

}
  .route__title {
	font-size: 72px;
	font-weight: bold;
	line-height: 1.1;
	width: 511px;
	height: 197px;
	
	
  }
  .route__text {
	font-size: 18px;
	top: 420px;
	line-height: 1.49;
	width: 196px;
	height: 20px;
	margin-bottom: 33.5px;
  }

 